{% load static %}
<!-- templates/cards.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Yu-Gi-Oh! Cards</title>
    <link rel="stylesheet" href="{% static 'css/styles_api.css' %}" type="text/css">
</head>
<body onload="fetchCards()">
    <h1>50 Yu-Gi-Oh! Cards</h1>
    <div id="cards-container">
        {% for card in cards %}
            <div class="card">
                <a href="{{ card.ygoprodeck_url }}">
                    <!-- <h3>{{ card.name }}</h3> -->
                    <img src="{{ card.card_images.0.image_url }}" alt="{{ card.name }}">
                </a>
                <!-- <h2>{{ card.card_prices.0.tcgplayer_price }}$</h2> -->
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'get_card' %}">Back to 10 top</a><br>
    <a href="{% url 'search_card' %}">Search for a card</a>

    <h1>Search Yu-Gi-Oh! Cards</h1>
    <form method="GET" action="{% url 'search_card' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Enter card name">
        <button type="submit">Search</button>
    </form>

</body>
<script src="{% static 'js/scripts.js' %}"></script>
</html>
