<!-- templates/search.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Search Yu-Gi-Oh! Cards</title>
</head>
<body>
    <h1>Search Yu-Gi-Oh! Cards</h1>
    <form method="GET" action="{% url 'search_card' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Enter card name">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for card in cards %}
            <li>{{ card.name }} - {{ card.type }}</li>
        {% endfor %}
    </ul>

    
</body>
</html>
