#img_cards_random {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); /* 5 columnas */
  grid-gap: 10px; /* Espacio entre las cartas */
  gap: 10px;
  padding: 10px; /* Espaciado interno */
  width: 150px;

}

