{% load static %}

<link rel="stylesheet" href="{% static 'css/lateralMenu.css' %}" type="text/css" >

<nav class="navbar_sidebar_style">
  <div class="link_styledMenu">
    <a class="link_styledLink" href="{% url 'home' %}">
      <img class="link_logoLinked" src="{% static 'img/dimensionalPrison.jpg' %}" alt="Descripción de la imagen"><span class="link_name">Dimensional Chaos</span>
    </a>
  </div>
  <div  class="mainMenu_separador pt-2">
    LIBRARY
  </div>

  <div class="mainMenu_link">
    <i class="fa-regular fa-box-archive"></i> 
    <a class="mainMenu_styledLink" href=""><img src="" alt=""> <span class="mainMenu_styledName">Collection Manager</span></a> <button class="btn-manager"><i class="fa-solid fa-circle-plus"></i></button>
  </div>

  <div class="mainMenu_link">
    <i class="fa-regular fa-chess-knight"></i>
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"> Deck Builder</span></a> <button class="btn-deck"><i class="fa-solid fa-circle-plus"></i></button>
  </div>

  <div  class="mainMenu_separador">
    BROWSER
  </div>

  <div class="mainMenu_link">
    <i class="fa-solid fa-fire"></i>
    <a class="mainMenu_styledLink" href="{% url 'card_info_view' %}"><img src="" alt=""><span class="mainMenu_styledName"> Explore Cards</span></a>
  </div>
  <div class="mainMenu_link">
    <i class="fa-solid fa-magnifying-glass"></i>
    <a class="mainMenu_styledLink" href="{% url 'search_cards' %}"><img src="" alt=""><span class="mainMenu_styledName"> Card Search</span></a>
  </div>
  <div class="mainMenu_link">
    <i class="fa-solid fa-folder"></i>
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"> Sets</span></a>
  </div>
  <div class="mainMenu_link">
    <i class="fa-solid fa-tag"></i>
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"> Themes</span></a>
  </div>
  <div class="mainMenu_link">
    <i class="fa-solid fa-trophy"></i>
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"> Tournaments</span></a>
  </div>
  <div class="mainMenu_link">
    <i class="fa-solid fa-comments"></i>
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"> Community</span></a>
  </div>

  <div  class="mainMenu_separador">
    DATABASE
  </div>

  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">Spoiler</span></a>
  </div>
  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">Forbidden Cards</span></a>
  </div>
  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">Alternative Artworks</span></a>
  </div>
  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">OCG-Only Cards</span></a>
  </div>

</nav>




