{% load static %}

<nav class="navbar_sidebar_style">
  <div class="link_styledMenu">
    <a class="link_styledLink" href="https://www.example.com">
      <img class="link_logoLinked" src="{% static 'img/dimensionalPrison.jpg' %}" alt="Descripción de la imagen"><span class="link_name">Cards Page</span>
    </a>
  </div>
  <div  class="mainMenu_separador pt-2">
    LIBRARY
  </div>

  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><i class="fa-regular fa-box-archive"></i> <span class="mainMenu_styledName">Collection Manager</span></a> <button class="btn-manager"><i class="fa-solid fa-circle-plus"></i></button>
  </div>

  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-regular fa-chess-knight"></i> Deck Builder</span></a> <button class="btn-deck"><i class="fa-solid fa-circle-plus"></i></button>
  </div>

  <div  class="mainMenu_separador">
    BROWSER
  </div>

  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-solid fa-fire"></i> Top Deck</span></a>
  </div>
  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-solid fa-magnifying-glass"></i> Card Search</span></a>
  </div>
  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-solid fa-folder"></i> Sets</span></a>
  </div>
  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-solid fa-tag"></i> Themes</span></a>
  </div>
  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-solid fa-trophy"></i> Tournaments</span></a>
  </div>
  <div class="mainMenu_link">
    <a class="mainMenu_styledLink" href=""><img src="" alt=""><span class="mainMenu_styledName"><i class="fa-solid fa-comments"></i> Community</span></a>
  </div>

  <div  class="mainMenu_separador">
    DATABASE
  </div>

  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">Spoiler</span></a>
  </div>
  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">Forbidden Cards</span></a>
  </div>
  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">Alternative Artworks</span></a>
  </div>
  <div>
    <a class="mainMenu_styledLink" href=""><span class="mainMenu_styledName">OCG-Only Cards</span></a>
  </div>

</nav>




