<div class="mainMenu">
    <input id="search" type="search" placeholder="search">
    <div>
        <a href="">icon language</a>
        <a href="">icon modo</a>
        <a href="">icon dolar</a>
        <a href="">login in</a>
        <a href="">sing up</a>
    </div>
</div>

<div class="column">
    <div class="column1">
        <span>Home</span>
        <div>
            <a href="">link 1</a>
        </div>
    </div>
    <div class="column1">
        <span>Soon</span> <span>Lastest</span>
        <div>
            <a href="">link 1</a>
        </div>
    </div>
    <div class="column2">
        <span>New Decklists</span>
        <div>
            <a href="">link 1</a>
        </div>
    </div>
    <div class="column3">
        <span>Last Tournaments</span>
        <div>
            <a href="">link 1</a>
        </div>
    </div>
</div>