{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/cards_info_views.css' %}" type="text/css" >
    
<div class="pagination">
    {% if cards.has_previous %}
        <a href="?page={{ cards.previous_page_number }}" class="previous-page">Anterior</a>
    {% endif %}
        <a href="?page={{ cards.next_page_number }}" class="next-page">Siguiente</a>
</div>

<div class="cardContainer">
    {% for card in cards %}
        <div class="card">
            <img src="{{ card.card_images.0.image_url|default:'https://via.placeholder.com/150' }}" alt="{{ card.name }}">

        </div>
    {% endfor %}
</div>

<!-- siguiente pagina -->

<div class="pagination">
    {% if cards.has_previous %}
        <a href="?page={{ cards.previous_page_number }}" class="previous-page">Anterior</a>
    {% endif %}
        <a href="?page={{ cards.next_page_number }}" class="next-page">Siguiente</a>
</div>


{% endblock %}