{% extends "layouts/base.html" %}

{% load static %}
{% block content %}
{% include "base_main_header.html" %}  
    <link rel="stylesheet" href="{% static 'css/cards_info_views.css' %}" type="text/css" >
    <h1>Home</h1>

    <div class="cardContainer">
        {% for card in cards %}
            <div class="card">
                <a href="{% url 'search_cards' %}?q={{ card.name }}"><img src="{{ card.card_images.0.image_url|default:'https://via.placeholder.com/150' }}" alt="{{ card.name }}"></a>
            </div>
        {% endfor %}
    </div>

{% endblock %}