{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" >
</head>
<body>
    
    <!-- <form action="{% url 'login_user' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Ingresar</button>
    </form> -->

<form action="{% url 'login_user' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="login">
            <form action="">
                <h2>Iniciar Sesion</h2>
                <div style="color: white;">{{error}}</div>
                <div class="input-container">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" name="username" required>
                    <label for="#">Username</label>
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" required>
                    <label for="#">Password</label>
                </div>
                <div class="forgot">
                    <label for="#">
                        <input type="checkbox"> Recordar
                        <a href="#">Olvide la contraseña</a>
                    </label>
                </div>
                <div>
                    <button type="submit">Acceder</button>
                    <div class="register">
                        <p>No tengo cuenta <a href="{% url 'home' %}">Crear una cuenta</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

</body>
</html>