{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" >
    
<form class="login-form" action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <div class="container">
        <div class="login">
            <div class="login-container">
                
                <div class="login-card-info">
                    <a href="{% url 'home' %}"> Dimensional Chaos <img src=""></a>
                    <p>Dimensional Prison is the new place to buy and sell TCG CARDS</p>
                </div>
                
                <div class="login-card-form">
                    <form action="">
                        <h2>Iniciar Sesion</h2>
                        <div style="color: white;">{{error}}</div>
                        <div class="input-container">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" name="username" id="mi-input" required>
                            <label for="#">Username</label>
                        </div>
                        <div class="input-container">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="password" id="mi-input" required>
                            <label for="#">Password</label>
                        </div>
                        <div class="forgot">
                            <label for="#">
                                <input type="checkbox"> Recordar
                                <a href="#">Olvide la contraseña</a>
                            </label>
                        </div>
                        <div>
                            <button type="submit">Acceder</button>
                            <div class="register">
                                <p>No tengo cuenta <a href="{% url 'signup' %}">Crear una cuenta</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

{% block scripts %}    
<script>
    // Asegura que el input esté vacío al cargar la página
    window.onload = function() {
      document.getElementById("mi-input").value = "";
    };
  </script>
{% endblock scripts %}


{% endblock content %}
