{% extends 'layouts/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" type="text/css">
{% block content %}
  <div class="profile-container">
    <h1>Editar perfil</h1>
    
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="profile-btn">Actualizar perfil</button>
    </form>

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
